//couleur de texte
$ColorFirst: rgb(255, 96, 96);
$ColorSecond: rgb(255, 255, 255);
//couleur de fond
$bckColor: rgb(246, 246, 246);
// arondi principal
$radiusFirst: 25px;
// arondi secondaire
$radiusSecond: 10px;

$breakpt: 768px;
$breaktablet: 1024px;

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

div#root {
  max-width: 1240px;
  margin: 0 auto;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  color: $ColorFirst;
  padding: 0 20px;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;

  margin: 0;
  padding: 0;
}
h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  letter-spacing: 0em;
  margin: 0;
  padding: 0;
}
