section.logementCollapse {
  display: flex;
  gap: 76px;
  margin-top: 32px;
  width: auto;
  div.collapseContainer {
    max-width: 582px;
    width: 100%;

    div.collapseTitre {
      width: 100%;
      height: 47px;
      margin: 0;
      padding: 0;
      background-color: $ColorFirst;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 10px;
      z-index: 2;

      h4 {
        color: white;
        margin: 0;
      }

      button {
        margin-left: auto;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
}
div.collapseContenu {
  max-height: 800px;
}

section.logementInfos {
  margin-top: 10px;
  div.titreLieuxTag {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // gap: 10px;
    // margin-bottom: 10px;
    h3 {
      font-size: 24px;
      font-weight: 500;
      line-height: 34.33px;
      letter-spacing: 0em;
      margin: 0;
      padding: 0;
    }
    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      li {
        list-style: none;
        background-color: $ColorFirst;
        min-width: 115px;
        width: 20%;
        padding: 3px;
        color: white;
        text-align: center;
        border-radius: $radiusSecond;
        span {
          font-size: 14px;
          margin: auto;
        }
      }
    }
  }
}
