section.logementCollapse {
  display: flex;
  gap: 60px;
  margin-top: 32px;
  width: auto;
  @media screen and (max-width: $breakpt) {
    flex-direction: column;
    gap: 0px;
  }
  div.collapseContainer {
    @media screen and (max-width: $breakpt) {
      margin-bottom: 20px;
    }
    max-width: 582px;
    width: 100%;

    div.collapseTitre {
      @media screen and (max-width: $breakpt) {
        height: 30px;
        font-size: 13px;
        line-height: 142.6%;
      }
      width: 100%;
      height: 52px;
      margin: 0;
      padding: 0;
      background-color: $ColorFirst;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 10px;
      z-index: 2;

      h4 {
        color: white;
        margin: 0;
      }

      button {
        margin-left: auto;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }
}
div.collapseContenu {
  max-height: 800px;
}

section.logementInfos {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  @media screen and (max-width: $breakpt) {
    flex-direction: column;
    gap: 20px;
  }
}
div.titreLieuxTag {
  width: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $breakpt) {
    width: 100%;
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%;
    letter-spacing: 0em;
    margin: 0;
    padding: 0;
  }
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    li {
      list-style: none;
      background-color: $ColorFirst;
      min-width: 115px;
      width: 20%;
      padding: 3px;
      color: white;
      text-align: center;
      border-radius: $radiusSecond;
      span {
        font-size: 14px;
        margin: auto;
      }
    }
  }
}

div.nomPhotoNotes {
  width: 20%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media screen and (max-width: $breakpt) {
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  div.nomPhoto {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    gap: 10px;
    ul.Nom {
      font-size: 18px;
      text-align: right;
      font-weight: 500;
      font-style: normal;
    }
  }
  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
}
div.notes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.note {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.note.etoile {
  background: url("../../assets/images/starup.png");
  background-size: cover;
}

.note.etoilegrise {
  background: url("../../assets/images/stardown.png");
  background-size: cover;
}
