section.aboutCollapse {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  div.collapseContainer {
    width: 84%;
    margin-bottom: 31px;

    div.collapseTitre {
      height: 47px;
    }
  }
}
