// background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

div.cardListContainer {
  padding: 56px 0;
  background-color: $bckColor;
  border-radius: $radiusFirst;
  @media screen and (max-width: $breakpt) {
    background-color: white;
    padding: 0;
    border-radius: $radiusSecond;
    
  }
  @media screen and (max-width: $breaktablet) {
    background-color: white;
    padding: 0;
    border-radius: 0;
    
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 65px 50px;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    @media screen and (max-width: $breaktablet) {
      gap: 40px 0px;
      flex-direction: column;
    }
    @media screen and (max-width: $breakpt) {
      gap: 20px 0;
      flex-direction: column;
    }
    a {
      text-decoration: none;
      margin: 0;

      li.Card {
        border-radius: $radiusSecond;

        article {
          position: relative;
          border-radius: $radiusSecond;
          width: 340px;
          height: 340px;
          @media screen and (max-width: $breaktablet) {
            width: 100%;
            height: 300px;
          }
          @media screen and (max-width: $breakpt) {
            width: 100%;
            height: 255px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $radiusSecond;
            z-index: 1;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(255, 255, 255);
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0) 0%,

              rgba(3, 3, 3, 0.4) 60%
            );
            border-radius: $radiusSecond;
            z-index: 2;
          }
          h2 {
            @media screen and (max-width: $breakpt) {
              bottom: 15px;
              left: 15px;
              margin-right: 20px;
            }
            font-size: 18px;
            color: white;
            font-weight: 500;
            position: absolute;
            bottom: 20px;
            left: 20px;
            margin-right: 20px;
            line-height: 142.6%;
            z-index: 3;
            margin: 0;
            pointer-events: none;
          }
        }
      }
      :hover {
        transition: box-shadow 0.3s ease-in-out;
        // -webkit-box-shadow: 11px 9px 15px 2px rgba(0, 0, 0, 0.41);
        box-shadow: 11px 9px 15px 2px rgba(0, 0, 0, 0.41);
      }
    }
  }
}
