div.collapseContainer {
  margin-bottom: 35px;
}

div.collapseContenu {
  position: relative;
  overflow: hidden;
  border-radius: $radiusSecond;
  background-color: $bckColor;
  margin: -10px 0 0 0;
  padding: 30px 20px 20px 20px;
  opacity: 0;
  height: 0;
  transform-origin: top;
  transition: transform 0.4s ease-in-out;

  ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    @media screen and (max-width: $breakpt) {
      padding-left: 0;
    }
    li {
      margin: 0;
    }
  }

  div {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.67px;
    color: $ColorFirst;
    height: 100%;
    overflow: hidden;
    @media screen and (max-width: $breakpt) {
      font-size: 12px;
    }
  }

  &.montre {
    opacity: 1;
    height: 100%;
    transform: scaleY(1);
    transition: transform 1s ease-in-out;
  }

  &.cache {
    transform-origin: bottom;
    opacity: 0;
    transform: scaleY(0);
    transition: opacity 0.1s ease-in-out;
    padding: 0;
    height: 0;
  }
}

div.collapseTitre {
  position: relative;
  border-radius: $radiusSecond;
  margin: 0;
  background-color: $ColorFirst;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  z-index: 2;

  h4 {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
    @media screen and (max-width: $breakpt) {
      font-size: 13px;
    }
  }
  img {
    width: 24px;
    height: 13px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

.rotateUp {
  transform: rotate(0deg);
  transition: transform 0.6s ease-in-out;
}

.rotateDown {
  transform: rotate(180deg);
  transition: transform 0.1s ease-in-out;
}
